
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: #4b5563;
	color: #eee;
}

header .logo{
	font-size: 2rem;
	font-weight: 600;
	color: #ea580c;
	transition: all .4s;
}
.logo:hover{
	color: rgba(234, 90, 12, 0.809);
}

nav a {
	margin: 0 1rem;
	color: #eee;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 600;
	transition: all .4s;
}

nav a:hover {
	color: #ea580c;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #eee;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	.logo{
		font-size: 1.5rem !important;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 100;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #0f172a;
		transition: 1s;
		transform: translateY(-105vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}